.logo{

    position: relative;
    left: 1500px;
}


.f-container{

    background-color: #30b573;
    
    height: 300px;

    h1{
        color: white
    }

    li{
        color: white;
    }
 }

 .plant-content{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;/*  faire descendre le elmt */
    justify-content: space-evenly;/* prop row */
    align-items: center;
    height: 100%;
    min-height: 70vh;
    .plant-img{
        width: 200px;
        border-radius: 9px;
    }
 }